.success-msg {
    padding: 14px;
    background-color: green;
    color: white;
}


@media screen and (max-width: 500px) {
    .form-container{
        box-sizing: border-box;
        width: 100%;
        padding: 5%;
    }
}